 

<body class="gray-bg">

  <div class="middle-box text-center loginscreen animated fadeInDown">

    <div>
      <div>
        <img width="190" src="assets/Imagenes/LogoLogin.png" alt>
        <br /> <br /> <br />
      </div>
      <h3>Bienvenidos a Prueba V8</h3>
      <p>
        Software Para Gestionar Empleados y Salarios.
      </p>

      <p>Ing. Jorge David Pertuz Egea</p>

      <h3>Inicio de Sesión</h3>

      <div class="form-group">
        <input type="email" class="form-control" placeholder="Username" required="">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" required="">
      </div>

      <a routerLink="/Securit/Rols" class="btn btn-primary block full-width m-b">Login</a>

      <b><p class="text-muted text-center"><small>.: Jorge David Pertuz Egea :.</small></p></b>
      <p class="text-muted text-center"><small> <b>CONTACTO CELULAR : </b> ( +57 ) 315 - 534 - 2264 </small></p>
      <p class="text-muted text-center"><small> <b>Email : </b> jpertuzegea@hotmail.com </small> </p>

    </div>
  </div>

  <!-- Mainly scripts -->
  <!--<script src="./assets/js/jquery-3.1.1.min.js"></script>
  <script src="./assets/js/bootstrap.min.js"></script>
  <script src="./assets/js/plugins/metisMenu/jquery.metisMenu.js"></script>
  <script src="./assets/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>-->

</body>
